<div id="header">
  <a [routerLink]="['/home']" class="menu"><img src="https://www.iconsdb.com/icons/preview/purple/home-5-xxl.png"
      id="home-img">Home</a>
  <a [routerLink]="['/recipes']" class="menu"><img
      src="https://www.iconsdb.com/icons/preview/purple/restaurant-3-xxl.png" id="fork-img">Recipes</a>
  <a [routerLink]="['/about']" class="menu"><img src="https://www.iconsdb.com/icons/preview/purple/paper-xxl.png"
      id="paper-img">About</a>
  <a [routerLink]="['/login']" class="menu"><img src="https://www.iconsdb.com/icons/preview/purple/login-xxl.png"
      id="login-img">Login</a>
</div>
<router-outlet></router-outlet>
